
body {
  background-color: #111;
  color: yellow;
  overflow: hidden;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 60px;
}
.container{
  position: absolute;
  text-align: justify;
  width: 50%;
  left: 28%;
  bottom: 0;
animation-name: starwars;
animation-duration: 30s;
animation-iteration-count: infinite;
transform-origin: 50% 100%;
transform: perspective(500px) rotateX(38deg);

}
p {
  text-align: justify;
  
}
.lol {
  text-align: center;
  
}
@keyframes starwars{
0% {
top: 100% }
100% {
top: -100%;}

}

